@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
	--red: hsl(0, 100%, 74%);
	--dark-blue: hsl(249, 10%, 26%);
}

* {
	font-family: 'Poppins', sans-serif;
	font-size: 100%;
	box-sizing: border-box;
}

body {
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	background-image: url('./images/bg-intro-mobile.png');
	background-color: var(--red);
}

.signup {
	max-width: 78%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	text-align: center;
	color:  white;
}
h1 {
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 1.2;
}
header p {
	font-size: .9rem;
	line-height: 2;
}

.form-container {
	text-align: center;
}
.form-container > * {
	border-radius: 10px;
}

.banner {
	margin-bottom: 25px;
	padding: 1rem 3rem;
	background-color: hsl(248, 32%, 49%);
	font-size: .9rem;
	font-weight: 400;
	line-height: 1.8;
	color: white;
	-webkit-box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.15); 
	box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.15);
}
.tryit {
	font-weight: 600;
}

.short-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 8%;
	background-color: white;
	-webkit-box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.15); 
	box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.15);
}

.form-elements {
	padding: 1rem;
}
input.form-elements {
	width: 100%;
	padding: 1rem 1.8rem;
	border: solid 1px #DEDEDE;
	border-radius: 6px;
	font-size: .9rem;
	font-weight: 600;
}
input.form-elements:focus {
	outline-style: none;
	border-color: var(--dark-blue);
	caret-color: var(--dark-blue);
	color: var(--dark-blue);
}
input.input-error {
	border:  2px solid var(--red);
}

small {
	width: 100%;
	text-align: right;
	font-size: .75rem;
	font-weight: 500;
	color: var(--red);
}

i {
	visibility: hidden;
	display: block;
	padding-right: 20px;
	position: relative;
	align-self: flex-end;
	bottom: 3.5rem;;
	text-align: right;
	font-size: 20px;
	color: var(--red);
}
i.input-error {
	visibility: visible;
	color: var(--red);
}

#form-submit-btn {
	width: 100%;
	background-color: hsl(154, 59%, 51%);
	border: none;
	border-radius: 6px;
	-webkit-box-shadow: 0px 4px 0px 0px rgb(63,178,127); 
	box-shadow: 0px 4px 0px 0px rgb(63,178,127);
	font-size: .9rem;
	font-weight: 500;
	color: white;
	letter-spacing: .5px;
	text-transform: uppercase;
}
#form-submit-btn:hover {
	background-color: #77E2B4;
	-webkit-box-shadow: 0px 4px 0px 0px rgba(63,178,127,.7); 
	box-shadow: 0px 4px 0px 0px rgba(63,178,127,.7);
	cursor: pointer;
}

.terms {
	font-size: .7rem;
	color: hsl(246, 25%, 77%);
}
.terms a {
	text-decoration: none;
	font-weight: 600;
	color: var(--red) ;
}
.terms a:hover {
	font-weight: 700;
}

footer {
	display: none;
}

@media only screen and (min-width:  768px) {
	.signup {
		display: grid;
    	grid-template-columns: 1fr 1fr;
	}
	.signup * {
		grid-row: 1/2;
	}

	header {
		margin-right: .5rem;
		text-align: left;
	}
	h1 {
		font-size: 3rem;
	}
	header p {
		font-size: 1rem;
	}
}